* {
  font-family: 'Open Sans', sans-serif;
}

.page {
  background-color: #e2e5eb;
}

.navbar {
  background-color: #e2e5eb;
}

.navbar::after {
  background-color: #e2e5eb;
}

#nav-back-button {
  color: black;
  margin-left: 10px;
}

#nav-close-button {
  color: black;
  font-weight: 600;
  margin-right: 10px;
}

#nav-welcome-center {
  margin: 0 auto;
  font-weight: 200;
  font-size: 0.8em;
}

#main-view {
  border: none;
}

#continue-button {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #337be6;
  color: white;
  border-radius: 0;
}
