* {
  font-family: 'Roboto', sans-serif;
}

.user-login {
  margin-top: 60%;
  margin-bottom: 8px;
}

.item-content {
  border: 1px solid #e2e5eb;
}

#welcome-list-header {
  background-color: #e2e5eb;
  border: none;
  text-align: center;
}

.welcome-header {
  display: block;
  position: relative;
  top: 0;
  font-size: 1.5em;
  letter-spacing: 4px;
  font-weight: 200;
  margin: 0 auto;
}

.logo-box {
  z-index: 9999;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  transform: translateX(-50%);

  left: 50%;
  margin-top: 15%;
}

.list-item-main {
  list-style: none;
  text-align: center;
}

.bottom-button {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  bottom: 5%;
}

#welcome-page-button {
  bottom: 23%;
}

.button.button-fill {
  background-color: #5ec2c4;
}

.input-list {
  position: relative;
  top: 10%;
}

.text-input-main > input {
  line-height: 42px;
  border: 1px solid #b2b2b2;
  border-radius: 2px;
  width: 80%;
  margin: 0 auto;
}

.text-input-main > input::placeholder {
  padding-left: 10px;
  font-size: 1.3em;
  line-height: 42px;
}

.text-input-main {
  text-align: center;
}

.list-block input[type='datetime-local'],
.list-block input[type='email'],
.list-block input[type='number'],
.list-block input[type='password'],
.list-block input[type='search'],
.list-block input[type='tel'],
.list-block input[type='text']:focus {
  /* color:transparent; */
}

#user-dropdown {
  margin-top: 80%;
}

.form-list-item {
  color: #a9a9a9;
  border: none !important;
}

.list-block ul {
  margin: auto;
  justify-content: center;
  width: 80%;
}

.text-input-label {
  font-size: 1.3em;
  text-decoration: none;
}

.navbar-inner {
  size: 22;
  background-color: #e2e5eb;
  color: black;
}

.navbar::after {
  background-color: #e2e5eb;
}

.navbar {
  height: 60px;
}

.select-input-main > select {
  border: 1px solid #b2b2b2;
  height: 48px;
  width: 75%;
}

.select-input-main > input {
  border: 1px solid #b2b2b2;
  height: 48px;
  width: 75%;
  background-color: #e2e5eb !important;
}

.button.button-fill {
  background-color: '#5EC2C4';
  box-shadow: -1px 8px 39px -2px #5ec2c4;
}

.select-input-label {
  font-size: 1.3em;
  text-decoration: none;
}

.page-content {
  background: #e2e5eb;
}

.content-block-inner {
  background: #e2e5eb;
}

.back.link {
  color: #f59f25;
}

.icon-back.icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23f59f25'%2F%3E%3C%2Fsvg%3E") !important;
}

#nav-back-button {
  color: #f59f25;
  margin-left: 10px;
  font-size: 2em;
}

#nav-close-button {
  color: #f59f25;
  font-weight: 600;
  margin-right: 10px;
  font-size: 2.5em;
}

#nav-welcome-center {
  margin: 0 auto;
  font-weight: 200;
  font-size: 0.8em;
}

#main-view {
  border: none;
}

#welcome-header {
  font-size: 2.2em;
  letter-spacing: -1.5px;
  font-weight: 800;
  color: black;
  margin-bottom: 0;
}

.welcome-header {
  font-weight: bold;
  margin-bottom: 0;
}

#welcome-sub {
  font-weight: 200;
  font-size: 1.15em;
  margin: 0;
}

#company-select {
  border: none !important;
}

#company-select {
  color: #a9a9a9;
}

.login-text {
  margin: 0 auto;
  height: auto;
  width: auto;
  letter-spacing: 1.5px;
  text-align: center;
}

#forgot-password {
  float: right;
  margin-right: 27px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

#no-account,
#create-account {
  width: 100%;
  display: inline-block;
}

#no-account {
  margin-top: 25%;
  /* width: 120px; */
  padding-left: 34%;
  padding-right: 34%;
}

#create-account {
  color: #f59f25;
}

.item-FVent {
  border-radius: 15px;
}
.item-content {
  border-radius: 15px;
  background-color: #e2e5eb;
}

.form-inner-container {
  list-style: none;
  margin: 0 auto;
  width: 75%;
  border: 1px solid #b2b2b2;
}

#username-form-inner-container {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#password-form-inner-container {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #b2b2b2;
}

.input-form-list-item {
background: #e2e5eb;
width: 100%;
}

.input-form-list ul{
width: 100%;
}

.input-form-list .item-content{
  background: white;
  border-radius: 0;
}