.logo-container {
  position: absolute;
  /* padding-top: 40px; */
  margin-top: 10%;
  left: 30%;
  display: block;
  width: 150px;
  height: 150px;
  clear: both;
  /* width:50%; */
  /* height: 50%; */
  /* border: 1px solid black; */
}

.logo-circles {
  /* border: 1px solid blue; */
  position: absolute;
  float: left;
  /* display: inline-block; */
  width: 60%;
  height: 60%;
  border-radius: 50%;
  opacity: 0.8;
  /* position: relative; */
}

#logo-circle-upper, #logo-circle-lower {
  margin-left: 23%;
}

#logo-circle-upper {
  background-color: #f59f25;
  /* left: 100px; */
}

#logo-circle-right, #logo-circle-left {
margin-top: 23%;
}

#logo-circle-right {
  background-color: #e51c0e;
  margin-left: 40%;
}
#logo-circle-lower {
  background-color: #ea8aa7;
  margin-top: 40%;
}
#logo-circle-left {
  margin-left: 3%;
  background-color: #5ec2c4;
}

#eye-container-outer {
  margin-left: 3%;
  display: inline-block;
  width:80%;
  height: 32%;
}

#eye-container {
  /* border: 1px solid blue; */
  z-index: 10;
  /* position: absolute; */
  height: 100%;
  width: 40%;
  margin-top: 52px;
  margin-left: 51px;
  opacity: 1;
  /* text-align: center; */
}

#sclera {
  border-radius: 90% 0 90% 0;
  background-color: white;
  /* border: 1px solid blue; */
  transform: rotate(90deg);
  /* width: inherit;
  height: inherit; */
  z-index: 9;
  height: 100%;
  width: 100%;
  /* position: absolute; */
  /* margin-left: 32px; */
  /* padding-bottom: 61px; */
  transform: rotate(45deg);
}

#iris {
  /* visibility: hidden; */
  /* text-align: center; */
  position: relative;
  /* right: 27px; */
  /* top: 16px; */
  height: 69%;
  width: 69%;
  /* transform: rotate(45deg); */
  margin-left: 17%;
  margin-top: -104%;
  /* margin-top0717px; */
  background-color: #5ec2c4;
  border-radius: 50%;
}

#pupil {
  z-index: 99999;
  position: relative;
  margin-top: 10px;
  left: 10px;
  top: 10px;
  height: 13px;
  width: 13px;
  background: black;
  /* margin-left: 20px;
  margin-top: 10px; */
  border-radius: 50%;
  /* box-shadow: inset 0 0 10px #5ec2c4; */
}

#pupil:after {
  z-index: 909090909;
  border-radius: 100%;
  background-color: black;
  opacity: 1;
}

/* #pupil:before {
  background-color: black ;
  border-radius: 0 80% 0 80%;
  transform: rotate(-45deg);
  opacity: 1;
} */
