.logo-container {
  display: inline-block;
  margin-left: 28px;
}

.logo-circle-upper,
.logo-circle-right,
.logo-circle-bottom,
.logo-circle-left {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 180px;
}

.logo-circle-upper {
  /* z-index: -1; */
  margin-left: 15px;
  background-color: #f59f25;
  padding-right: 60px;
  float: left;
  opacity: 0.7;
}

.logo-circle-right {
  /* z-index: -1; */
  background-color: #e51c0e;
  margin-top: 16px;
  padding-left: 60px;
  margin-left: -41px;
  float: left;
  opacity: 0.7;
}

.logo-circle-bottom {
  /* z-index: -1; */
  background-color: #ea8aa7;
  margin-top: 32px;
  padding-bottom: 60px;
  margin-bottom: -25px;
  margin-left: 15px;
  position: absolute;
  float: left;
  opacity: 0.7;
}

.logo-circle-left {
  /* z-index: -1; */
  background-color: #5ec2c4;
  padding-right: 60px;
  margin-top: 16px;
  margin-left: -25px;
  position: absolute;
  float: left;
  opacity: 0.7;
}

/* Eyeball*/

/* Container Element */
.eye-container {
  /* z-index: 10; */
  position: absolute;
  margin-top: 16px;
  margin-left: 15px;
  height: 20%;
  width: 20%;
}
/* pseudoelements */
.eye:before,
.eye:after {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  opacity: 0;
}
/* Sclera */
.eye:before {
  top: 10%;
  left: 10%;
  background-color: black;
  width: 80%;
  height: 80%;
}
/* Iris */
.eye:after {
  border: 0.5em solid;
  border-color: #5ec2c4;
  width: 40%;
  height: 40%;
  margin-left: -20%;
  margin-top: -20%;
}

.eye.shaped:after {
  border-radius: 100%;
  background-color: black;
  opacity: 1;
}

.eye.shaped:before {
  background-color: white;
  border-radius: 0 80% 0 80%;
  transform: rotate(-45deg);
  opacity: 1;
}
