
.logo-container {
  margin-top: 10%;
  /* display: inline-block; */
  width: auto;
  height: auto;
  border: 2px solid blue;
  /* width:auto; */
}

.logo-circle-upper, .logo-circle-right, .logo-circle-lower, .logo-circle-left{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%
}

.logo-circle-upper {
background-color: #f59f25;
}
.logo-circle-right {
background-color: #e51c0e;
} 
.logo-circle-lower {
background-color: #ea8aa7;
} 
.logo-circle-left {
background-color: #5ec2c4;
}